*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Dongle', sans-serif;
    font-family: 'Poppins', sans-serif;;
  }

body{
    background-color: #f6f8f9 ;
}

header{
    height: 55px;
    background-color: white;
}
.logo{
    vertical-align: middle;
    height: 100%;
    margin-top: 3px;
    margin-left: 10px;
  }
  h1{
      display: inline-block;
      vertical-align: middle;
  }

.small-container{
    background-color: white;
    width:800px;
    height:50px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding-top: 15px;
    padding-left: 40px;
    }

 .big-container{
    background-color: white;
    width: 800px;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 5px;
  }

.button1{
    color: white;
    background-color: #47adf1;
    border: 1px solid;
    border-color: #47adf1;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
}

.button2{
    color: #cbd0d5;
    border: 1px solid;
    border-color: #cbd0d5;
    padding: 5px;
    border-radius: 5px;
}

ul {
    list-style-type: none;
}

h3{
    display: inline-block;
}

.m-20{
    margin-top: 25px;
}

li{
    margin-top: 15px;
}

/* .checkk::before{
   content: "\2713";
   border-color: green;
} */

.check{
    color: #65c0a9;
    border: 2px solid;
    border-color: #65c0a9;
    border-radius: 50%;
    padding: 0px 6px 0px 6px;
}

.cross{
    color: #ec746f;
    border: 2px solid;
    border-color: #ec746f;
    border-radius: 50%;
    padding: 0px 6px 0px 6px;
}

.blue{
    font-size: 11px;
    color: white;
    background-color: #47adf1;
    border-radius: 10px;
    margin-left: 10px;
    padding: 6px;
}

.purple{
    font-size: 11px;
    color: white;
    background-color: #9c72e4;
    border-radius: 10px;
    margin-left: 10px;
    padding: 6px;
}

.green{
    font-size: 11px;
    color: white;
    background-color: #64c0a9;
    border-radius: 10px;
    margin-left: 10px;
    padding: 6px;
}

.orange{
    font-size: 11px;
    color: white;
    background-color: #f29e33;
    border-radius: 10px;
    margin-left: 10px;
    padding: 6px;
}

.yellow{
    font-size: 11px;
    color: white;
    background-color: #b0c926;
    border-radius: 10px;
    margin-left: 10px;
    padding: 6px;
}

.blallo{
    font-size: 11px;
    color: white;
    background-color: #64c0a9;
    border-radius: 10px;
    margin-left: 10px;
    padding: 6px;
}

.pink{
    font-size: 11px;
    color: white;
    background-color: #d863a1;
    border-radius: 10px;
    margin-left: 10px;
    padding: 6px;
}