*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body{
    background-color: grey;
}

header{
    height: 100px;
    background-color: white;
}
.logo{
    vertical-align: middle;
    height: 100%;
  }
  h1{
      display: inline-block;
      vertical-align: middle;
  }

.small-container{
    background-color: white;
    width:800px;
    height:50px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    }

 .big-container{
    background-color: white;
    width: 800px;
    height: 500px;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 5px;
  }

.button1{
    color: white;
    background-color: blue;
    border: 1px solid;
    border-color: blue;
    padding: 5px;
    border-radius: 5px;
}

.button2{
    color: grey;
    border: 1px solid;
    border-color: grey;
    padding: 5px;
    border-radius: 5px;
}

hr{
    color: grey;
    margin-top: 15px;
}

ul {
    list-style-type: none;
}

h3{
    display: inline-block;
}

.m-20{
    margin-top: 25px;
}

li{
    margin-top: 15px;
}

/* .checkk::before{
   content: "\2713";
   border-color: green;
} */

.check{
    color: green;
    border: 2px solid;
    border-color: green;
    border-radius: 50%;
    padding: 0px 3px 0px 3px;
}

.cross{
    color: red;
    border: 2px solid;
    border-color: red;
    border-radius: 50%;
    padding: 0px 3px 0px 3px;
}

.blue{
    font-size: 11px;
    color: white;
    background-color: blue;
    border-radius: 10px;
    margin-left: 10px;
    padding: 6px;
}

.purple{
    font-size: 11px;
    color: white;
    background-color: purple;
    border-radius: 10px;
    margin-left: 10px;
    padding: 6px;
}

.green{
    font-size: 11px;
    color: white;
    background-color: green;
    border-radius: 10px;
    margin-left: 10px;
    padding: 6px;
}

.orange{
    font-size: 11px;
    color: white;
    background-color: orangered;
    border-radius: 10px;
    margin-left: 10px;
    padding: 6px;
}

.yellow{
    font-size: 11px;
    color: white;
    background-color: yellow;
    border-radius: 10px;
    margin-left: 10px;
    padding: 6px;
}

.blallo{
    font-size: 11px;
    color: white;
    background-color: yellowgreen;
    border-radius: 10px;
    margin-left: 10px;
    padding: 6px;
}

.pink{
    font-size: 11px;
    color: white;
    background-color: pink;
    border-radius: 10px;
    margin-left: 10px;
    padding: 6px;
}